<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Copenhagen Scala Group</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">
          <img src="/images/CPHScala.png" width="100" style="float:left ; padding-right: 20px" />
        </a>
        <h1>CPH Scala Group</h1>
        <p>Meetup Group for Copenhagen based Scala enthusiasts. We're <a href="http://www.twitter.com/cphscala" target="_blank">@CPHScala</a> on Twitter</p>
        <p>Site</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/history">Previous meetups</a></li>
        </ul>
        <p>Community</p>
        <ul>
          <li><a href="https://groups.google.com/forum/#!forum/scala-user-group-denmark">Scala User Group Denmark</a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>

